.top-bg
{
    background-color:#1F618D ;
    color: aliceblue;
}
.title-top
{
    color: blue;
    font-family:Bell MT;
    font-size: 45px;
}
.bg-nav{
    background-color:#92caf0 ; 
}
.navbar-nav
{
    color: aliceblue;
}
.nav-item:hover
{
    /* padding: 5px; */
    border-radius: 5px;
    background-color: aquamarine;
}
li .nav-text
{
   font-weight: bold;
   color: black;
   font-size: 18px;

}
.ncard
{
    height: 400px;
}
.newRow
{
    height: 100px;
    background-color: rgb(63, 88, 88);
}
.icon
{
    font-size: 30px;
}
/* .icon:hover{
    color: aqua;
} */
.fa-whatsapp:hover{
    color: green;
}
.cnt-text
{
    text-shadow: 2px 3px 4px;
    color:#1F618D;
    font-family:'Times New Roman', Times, serif;
}